@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}

body {
  font-size: small;
  font-family: "Mulish", sans-serif !important;
  color: #002859;
}

h3 {
  font-size: large;
  font-weight: bolder;
}

small {
  font-size: x-small;
}

.tick {
  background-color: greenyellow;
  color: green;
  border-radius: 50%;
}

.cross {
  background-color: rgb(209, 101, 101);
  color: red;
  border-radius: 50%;
}

label {
  font-weight: bold;
}

.bgBlue {
  background: #035ac5 !important;
  color: white !important;
}
.bgBlue:disabled {
  background: #c6dffe !important;
  color: white !important;
}
