@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
} */

body {
  font-size: small;
  font-family: Tahoma, Arial, sans-serif !important;
  color: #002859;
}

h3 {
  font-size: large;
  font-weight: bolder;
}

small {
  font-size: x-small;
}

.tick {
  background-color: greenyellow;
  color: green;
  border-radius: 50%;
}

.cross {
  background-color: rgb(209, 101, 101);
  color: red;
  border-radius: 50%;
}

label {
  font-weight: bold;
}

.bgBlue {
  background: #035ac5 !important;
  color: white !important;
}
